<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</style>
<h5 style="text-align:center"><strong><%= @user.full_name %></strong>'s Profile</h5>
<div class="card">
  <%= image_tag @user.gravatar_url %>
  <h6><strong>Full Name:</strong>
  <p class="title"><%= @user.full_name %></p></h6>
  <p><dt><strong>Country:</strong></dt> 
  <dd><%= @user.country %></dd> 
  <dt><strong>Date of Birth:</strong></dt> 
  <dd><%= @user.birthdate %></dd> 
  <dt><strong>Email:</strong></dt> 
  <dd><%= @user.email %></dd> 
</dl></p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <p><button><%= link_to "Back", my_friends_path, class: "btn btn-primary" %></button></p>
</div>
