<h4>User Details</h4> 
<div id="friend-lookup-results" class="well results-block col-md-8">
  <table class="search-results-table col-md-10">
  <tbody>
 <dt><strong>Full Name</strong></dt> 
  <dd><%= @user.full_name %></dd> 
   <dt><strong>Country</strong></dt> 
  <dd><%= @user.country %></dd> 
  <dt><strong>Date of Birth</strong></dt> 
  <dd><%= @user.birthdate %></dd> 
  <dt><strong>Email</strong></dt> 
  <dd><%= @user.email %></dd> 
</dl> 

<% if @user.stocks.size > 0 %> 
  <%= render 'stocks/list' %> 
<% else %> 
  <p class="lead">This user is not tracking any stocks</p> 
<% end %> 

<%= link_to "Back", my_friends_path, class: "btn btn-primary" %>
